Bubble diagram / dynamic relaxation

In [3]:
import pandas as pd

In [4]:
#inputs

#number of specific function
num_shop = 6
num_square = 2
num_workshop = num_shop // 2
num_storage = num_shop

num_functions = num_shop + num_square + num_workshop + num_storage
functions = ["shop"] * num_shop + ["square"] * num_square + ["workshop"] * num_workshop + ["storage"] * num_storage
print("Total number of functions:",num_functions)

#m2
area = {
"shop" : 30,
"square" : 2500,
"workshop" : 60,
"storage" : 10
}

Total number of functions: 17

In [5]:
#make a table with all the data regardinf the functions

last_function = ""
i = 0
function_data = []
for func in functions:
    if last_function != func:
        i = 0
    function_data.append([func, i, area[func]])
    last_function = func
    i += 1

pd.DataFrame(function_data, columns=["function_name", "space_index", "area"])

   function_name  space_index  area
0           shop            0    30
1           shop            1    30
2           shop            2    30
3           shop            3    30
4           shop            4    30
5           shop            5    30
6         square            0  2500
7         square            1  2500
8       workshop            0    60
9       workshop            1    60
10      workshop            2    60
11       storage            0    10
12       storage            1    10
13       storage            2    10
14       storage            3    10
15       storage            4    10
16       storage            5    10

In [3]:
#make a matrix with all the functions and area's
# Func_list = []

# for i in range(num_functions):

#     for j in range(num_shop):
#         Func_list.append(i,"shop" j, area_shop)

#     for k in range(num_square):
#         Func_list.append(i,"square" k,area_square)
    
#     for l in range(num_storage):
#         Func_list.append(i,"storage" l,area_storage)

#     for m in range(num_workshop):
#         Func_list.append(i,"workshop"m, area_workshop)

SyntaxError: invalid syntax (Temp/ipykernel_9028/488900648.py, line 7)

In [ ]:
#make connections



#connectivity matrix met getallen tussen 0 en 1 die de kracht van de veer bepalen
# VV is a matrix with this shape: number of nodes by number of nodes
VV_shape = (len(num_functions), len(num_functions))
# Initialize the empty VV
VV = np.zeros(VV_shape, dtype=int)
# iterate over the egdes
for n1, n2 in G_edges:
    # since the graph is undrirected we fill the matrix 
    # on both side of the diagonal line
    VV[n1, n2] = 1 
    VV[n2, n1] = 1

# display as pandas dataframe
display(pd.DataFrame(VV))

In [ ]:
#place points

In [ ]:
#give the points volumes

#per functie een cirkel maken en die plaatsen op de punten zodat je volumes er aan toe wijst

In [ ]:
#give an orientation to the site

#

In [ ]:
#dynamic relaxation to place the functions